@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using MSIL.Models
@model CarouselModel
@Html.Partial("~/Views/PageHader/CssLink.cshtml")
@if (Model != null && Model.Slides != null && Model.Slides.Count > 0)
{
    <div class="container-fluid p-0 mb-5">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    int count = 0;
                }
                @foreach (var slide in Model.Slides)
                {
                    var activeClass = count == 0 ? "active" : string.Empty;
                    <div class="carousel-item @activeClass">
                        @slide.Image
                        @*<img class="w-100" src="~/img/carousel-1.jpg" alt="Image">*@
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">@slide.Title</h6>
                                <h1 class="display-3 text-white mb-4 animated slideInDown">@slide.SubTitle</h1>
                                @slide.CallToAction
                                <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Book Now</a>
                            </div>
                        </div>
                    </div>
                    count++;
                }
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
}

